{% extends "EditorPageBase.twig" %}
{% import "widget.twig" as widget %}

{% block contentSpecificButtons %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="viewMode">{{ label }}: </label>
        <div class="col-sm-5">
            <select id="viewMode" name="viewMode" class="form-control custom-select">
                {% for value, description in options %}
                <option value="{{ value }}" {% if (value == selected)%}selected{% endif %}>{{ description }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}