Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" "expr=%{HTTPS} == 'on'"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "no-referrer-when-downgrade"
Header set Cross-Origin-Opener-Policy "same-origin"
Header set Permissions-Policy "interest-cohort=()"

# Prevent generating folder indexes (for safety reasons); turn off MultiViews (interferes with our own routing)
Options -Indexes -MultiViews

# Do not allow viewing .htaccess itself
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

ErrorDocument 403 /error/403
ErrorDocument 404 /error/404

RewriteEngine On

RewriteRule ^$ index.php?page=/ [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/(src|vendor)/.*\.(js|css|map|png|jpg|jpeg|gif|html)$
RewriteRule ^(.*)$ asset/$1 [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,NC,L]

<ifModule mod_headers.c>

# 1 year
<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf|webp)$">
  Header set Cache-Control "max-age=29030400"
</FilesMatch>
# 1 week
<FilesMatch "\.(js|css|swf)$">
  Header set Cache-Control "max-age=604800"
</FilesMatch>
# 45 min
<FilesMatch "\.(html|htm|txt)$">
  Header set Cache-Control "max-age=2700"
</FilesMatch>
</ifModule>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
</IfModule>
