# Dev
cyn2
.idea/

# Caches
.sass-cache/
.php_cs.cache
cache/

# Site-specific
config.php
extra-head.php
extra-body-start.php
extra-body-end.php
public_html/user.css
public_html/uploads/

# Generated/autodownloaded
vendor/
public_html/asset
.php-cs-fixer.cache
