Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "no-referrer-when-downgrade"

# Voorkomt indexeren van mappen
Options -Indexes

# Scherm .htaccess af
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

RewriteEngine On

RewriteRule ^$ index.php?pagina=/ [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?pagina=$1 [QSA,NC,L]

<ifModule mod_headers.c>
Header always set Cache-Control "max-age=604800"

# 1 jaar
<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf)$">
  Header always set Cache-Control "max-age=29030400"
</FilesMatch>
# 1 week
<FilesMatch "\.(js|css|swf)$">
  Header always set Cache-Control "max-age=604800"
</FilesMatch>
# 45 min
<FilesMatch "\.(html|htm|txt|php)$">
  Header always set Cache-Control "max-age=2700"
</FilesMatch>
</ifModule>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
</IfModule>