Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

RewriteEngine On

RewriteRule ^$ index.php?pagina=/ [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?pagina=$1 [QSA,NC,L]

