parameters:
    bootstrapFiles:
        - .phpstan_bootstrap.php
    checkMissingIterableValueType: true
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkAlwaysTrueInstanceof: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    strictRules:
        allRules: false
        disallowedLooseComparison: false
        booleansInConditions: false
        uselessCast: false
        requireParentConstructorCall: true
        overwriteVariablesWithLoop: false
        closureUsesThis: false
        matchingInheritedMethodNames: true
        numericOperandsInArithmeticOperators: true
        strictCalls: true
        switchConditionsMatchingType: true
        noVariableVariables: false
        strictArrayFilter: false

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

rules:
    - PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
