<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ dropdownTitle|raw }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for item in items %}
            {% if item.link %}
                <a class="dropdown-item" href="{{ item.link }}">{{ item.title|raw }}</a>
            {% else %}
                <span class="dropdown-item"><i>{{ item.title|raw }}</i></span>
            {% endif %}
        {% endfor %}
    </div>
</li>