{% extends "EditorPageBase.twig" %}
{% import "widget.twig" as widget %}

{% block contentSpecificButtons %}
    {{ widget.editorCheckbox('enableComments', 'Reacties toestaan', enableComments) }}

    <div class="form-group row">
        <label for="tags" class="col-sm-2 col-form-label">Tags</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="tags" name="tags" value="{{ tags }}">
        </div>
    </div>
{% endblock %}