.overzichtBestellingen
{
    border: 1px solid #ddd;
}

table.kaartverkoop
{
    width: auto;
    border: 1px solid #ddd;
}

table.kaartverkoop tr th
{
    text-align: left;
}

table.kaartverkoop tr td,
table.kaartverkoop tr th
{
    padding-right: 30px;
    vertical-align: middle;
}

input.numTickets
{
    text-align: center;
    width: 40px;
    padding: initial;
}

button.numTickets
{
    margin-top: -2px;
    margin-bottom: 2px;
}

#verzendknop
{
    min-width: 150px;
    height: 50px;
    font-size: 18px;
}
