h2
{
    border-bottom: 1px dotted;
}

.spelerswrapper
{
    display: inline-block;
    overflow: hidden;
}

.spelersnaam
{
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 40px;
}

.avatarbox
{
    width: 150px;
    padding: 10px 30px 10px 30px;
}

.spelersinfobox
{
    width: 350px;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
}

.donor
{
    font-weight: bold;
    color: #B8860B;
}