#geelhoed-membermanager
{
    overflow-x: scroll;

    td {
        //white-space:nowrap;
        //word-break: keep-all;
    }
}

.location-card
{
    margin-bottom: 30px;
}

table.location-overview
{
    td:last-child, th:last-child,
    {
        @media (all and max-width: 767px)
        {
            display: none;
        }
    }
}

.gcv-member-subscription.card
{
    min-width: 320px;
    margin: 20px;
    @media (all and max-width: 767px)
    {
        margin: 10px 0;
    }
}
