#geelhoed-membermanager
{
    overflow-x: scroll;

    td {
        //white-space:nowrap;
        //word-break: keep-all;
    }

    > nav.toolbar form
    {
        //display: flex;
        //flex-wrap: wrap;

        > div
        {
            width: 310px;
            display: flex;
            margin-bottom: 15px;
            align-items: center;

            select {
                overflow: hidden;
            }

            > * + * {
                margin-left: 5px;
            }
        }
        > div.dob-filter
        {
            width: 620px;
        }
    }
}

.location-card
{
    margin-bottom: 30px;
}

table.location-overview
{
    td:last-child, th:last-child,
    {
        @media (all and max-width: 767px)
        {
            display: none;
        }
    }
}

.gcv-member-subscription.card
{
    min-width: 320px;
    margin: 20px;
    @media (all and max-width: 767px)
    {
        margin: 10px 0;
    }
}

.location-search-block
{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    > div
    {
        margin-top: 15px;
        margin-bottom: 15px;

        > a
        {
            display: block;
            height: 100%;

            > div.card
            {
                height: 100%;
                background-color: #cccccc;
            }
        }
    }
}
